.Esti-foarte-departe{
  color: blue;
}

.Te-aproprii-putin{
  color:chartreuse
}

.Aproape-ai-ajuns{
 color:orchid
}

.Ai-ajuns-la-destinatie{
 color:orange
}

.Ai-depasit-destinatia{
 color:magenta
}